body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}


table {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
  }

  th, td {
    margin-left: 50px;
    text-align: center;
  }
  

  .alleleDropdown {
    font-size: 18px;
    padding: 5px;
  }

  .fly-image-container {
    position: relative;
    width: 504px;
    height: 567px;
    margin: auto;
}

.fly-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 504px;
    height: 567px;
}
.jarSection {
  display: flex;
  gap: 40px; /* space between jars */
  justify-content: center; /* centers them horizontally */
  align-items: flex-start; /* keeps tops aligned */
  margin-top: 20px;
}

#parentJarContainer, #savedJarContainer {
  position: relative;
  width: 300px;
  height: 300px;
}

.jar {
  width: 300px;
  height: 300px;
}
  
